
Capstone Project 3/Data/causal_data.csv
Capstone Project 3/Data/campaign_table.csv
Capstone Project 3/Data/campaign_desc.csv
Capstone Project 3/Data/coupon.csv
Capstone Project 3/Data/coupon_redempt.csv
Capstone Project 3/Code/trial.db
Capstone Project 3/Data/hh_demographic.csv
Capstone Project 3/Data/Potential project data/AEP_hourly.csv
Capstone Project 3/Data/Potential project data/Online Retail.xlsx
Capstone Project 3/Data/product.csv
Capstone Project 3/Data/transaction_data.csv
Capstone Project 3/.DS_Store
Career-Related/.DS_Store
Career-Related/.DS_Store
Career-Related/ultimate_challenge/.DS_Store
